# Python specifics
__pycache__/
.venv/
.env
*.pyc

# IDE specifics
.idea/

# Data (Decide if you want to push your DB or not)
# If the DB is for the public Streamlit app, don't ignore it yet.
# If it's private/huge, uncomment the line below:
# *.db