# Ignore the virtual environment folders
.venv/
venv/
env/
__pycache__/

# Ignore clutter
*.pyc
.idea/
.vscode/
*.csv
*.txt
!requirements.txt

.streamlit/secrets.toml
.idea/
__pycache__/
*.pyc
.venv/
venv/